<!-- chat.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Chat</title>
</head>
<body>
    <div id="chat">
        <div id="messages"></div>
        <input id="message-input" type="text" placeholder="Escribe un mensaje">
        <button id="send-button">Enviar</button>
    </div>

    <script>
        const roomName = "{{ room_name }}";
        const chatSocket = new WebSocket(
            "ws://" + window.location.host + `/ws/chat/${roomName}/`
        );

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            const message = data.message;
            document.querySelector("#messages").innerHTML += "<p>" + message + "</p>";
        };

        document.querySelector("#send-button").onclick = function() {
            const messageInputDom = document.querySelector("#message-input");
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({ message: message }));
            messageInputDom.value = "";
        };
    </script>
</body>
</html>
